.tag-container {
    padding: 10px 0px;

}

.tag-item {
    padding: 5px 20px 5px 20px;
    margin-right: 10px;
    background-color: #FF6068;
    border-radius: 10px;
    color: white;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
}

@media all and (max-width: 768px) and (min-width: 375px) {
    .tag-container {
        display: flex;
    }
}