.title {
    font-family: 'Montserrat';
    color: #ff6068;
    margin: auto;

    h1 {
        font-weight: 500;
        font-size: 36px;
        margin: 20px 0px 0px 0px;
    }

    h3 {
        font-size: 18;
        font-weight: 500;
        margin: 10px 0px 0px 0px;
    }
}
