.card-details {
    .description-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        margin-top: 20px;
        max-width: 1700px;
        column-gap: 50px;

        >* {
            flex: 1;
        }
    }

    .card-info {
        display: flex;
        margin: auto;
        width: 90%;
        justify-content: space-between;

    }

    .host-rating {
        width: 180px;
    }
}