.card-details {
    margin: 0px 50px 0px 50px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;

    .description-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 90%;
        margin-top: 20px;
        max-width: 1700px;
        column-gap: 50px;

        > * {
            flex: 1;
        }
    }
}