.card-details {
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .carousel {
      margin-top: 20px;
    }
  }