.carousel {
    position: relative;
    margin: auto;
    width: 90%;
    height: 415px;
    overflow: hidden;

    .carousel-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;

    }

    .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        color: white;
        font-size: 60px;
        text-shadow: 10px black;
        border: none;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }

        &.prev {
            left: 10px;
        }

        &.next {
            right: 10px;
        }
    }

    .image-indicator {
        font-size: 16px;
        color: white;
        font-weight: bold;
        font-family: 'Montserrat';

        position: absolute;
        bottom: 2%;
        left: 50%;
    }
}

@media all and (max-width: 768px) and (min-width: 375px) {
    .carousel {
        .image-indicator {
            display: none;
        }
    }
}